<div class="card mt-4" id="basic-info">
    <div class="card-header">
        <h5>Basic Info</h5>
    </div>
    <div class="card-body pt-0">
        <div class="row">
            <div class="col-12">
                <label class="form-label">Full Name</label>
                <div class="input-group">
                    <input disabled id="firstName" name="firstName" class="form-control" type="text" placeholder="Alec" required="required" value="{{ user.name }}">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <label class="form-label mt-4">Email</label>
                <div class="input-group">
                    <input disabled id="email" name="location" class="form-control" type="text" value="{{ user.email }}">
                </div>
            </div>
            <div class="col-6">
                <label class="form-label mt-4">Phone Number</label>
                <div class="input-group">
                    <input disabled id="phone" name="phone" class="form-control" type="number" value="{{ user.telephone }}">
                </div>
            </div>
        </div>

    </div>
</div>