<div class="card mt-4" id="password">
    <div class="card-header">
        <h5>Change Password</h5>
    </div>
    <div class="card-body pt-0">
        {{ form_start(formPassword) }}
        {{ form_widget(formPassword) }}
        <button class="btn bg-gradient-dark btn-sm float-end  mb-0" id="buttonValid">Update password</button>
        <button class="btn bg-gradient-dark btn-sm float-end  mb-0" type="button" disabled style="display: none;" id="buttonSpinner">
            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
            Loading...
        </button>

        {{ form_end(formPassword) }}
    </div>
</div>