{% extends "dashboard/investor/base_investor.html.twig" %}


{% block body %}

    <div class="container-fluid py-4">

        <h1>Positions : {{ date }}</h1>

        <a class="btn btn-info" href="{{ path(pathRoute,{'export': 'csv'}) }}"> <i class="fas fa-cloud-download-alt"></i> CSV</a>
        <a class="btn btn-info" href="{{ path('investor_position_pdf_all') }}"> <i class="fas fa-cloud-download-alt"></i> PDF</a>
            <div class="row mt-4">

                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            {% include "admin/position/_table.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>

    </div>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" />

    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js">
    </script>



    <script>
        $(document).ready( function () {
            $('#datatableCustom').DataTable({
                order: [
                    [0, 'desc'],
                ],
            });
        } );
    </script>

{% endblock %}