
{% extends "base.html.twig" %}

{% block body %}


  {% include "shared/admin/_sidebar_admin.html.twig" %}

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    {% include "shared/admin/_topbar_admin.html.twig" %}


  </main>




{% endblock %}