{% extends "admin/base_admin.html.twig" %}

{% block body %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12 mb-3">
                <a class="btn btn-dark" href="{{ path('admin_theme_study_case_list') }}"><i class="fas fa-arrow-left"></i> Return</a>
            </div>
            <div class="col-12">
                <div class="card card-frame">
                    <div class="card-header">
                        <h3><i class="fas fa-plus-circle"></i> Edit a theme study case</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}

                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-info" id="buttonValid">Edit</button>
                        <button class="btn btn-info" type="button" disabled style="display: none;color: white;" id="buttonSpinner">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="color: white;"></span>
                            Loading...
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}