<!DOCTYPE html>
<html lang="en">

{% include "shared/_base_head_dash.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

<body class="g-sidenav-show  bg-gray-100">

    {% include "admin/shared/_sidebar_admin.html.twig" %}

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    {% include "admin/shared/_topbar_admin.html.twig" %}

{% block body %}{% endblock %}

    </main>

<!--   Core JS Files   -->
    {% include "shared/_base_script_dash.html.twig" %}
</body>

</html>