<div class="modal fade" id="modal-form-edit-widget" tabindex="-1" role="dialog" aria-labelledby="modal-form-edit-widget" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left d-flex justify-content-between">
                        <h3 class="font-weight-bolder text-info text-gradient">Edit widget</h3>
                        <button type="button" class="btn-close text-black" data-bs-dismiss="modal" aria-label="Close" style="color: black !important;">
                            <span aria-hidden="true" class="text-black">&times;</span>
                        </button>
                    </div>
                    <div class="card-body">
                        {{ form_start(formWidget) }}

                        {{ form_widget(formWidget) }}
                        <button type="submit" class="btn btn-info">Edit</button>
                        {{ form_end(formWidget) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
