{% extends "admin/base_admin.html.twig" %}

{% block body %}

    <div class="container-fluid py-4">
        <div class="row">
            {% include "shared/_messages_flash.html.twig" %}
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5>Investors</h5>
                        <a class="btn btn-dark" href="{{ path('admin_staff_administrator_create') }}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    <div class="card-body">
                        {% if admins | length > 0 %}
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for admin in admins %}
                                        <tr>
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <div>
                                                        <img src="{{ asset('theme/assets/mes_images/logo_capital_investment.jpg') }}" class="avatar avatar-sm me-3" alt="avatar image">
                                                    </div>
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ admin.name }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                {% if admin.roles[0] is same as "ROLE_ADMIN" %}
                                                    <p class="text-sm text-secondary mb-0">Administrateur</p>
                                                {% elseif admin.roles[0] is same as "ROLE_MANAGER" %}
                                                    <p class="text-sm text-secondary mb-0">Manager</p>
                                                {% endif %}

                                            </td>

                                            <td class="align-middle text-center text-sm">
                                                <p class="text-secondary mb-0 text-sm">{{ admin.email}}</p>
                                            </td>

                                            <td class="align-middle text-center">
                                                <a style="cursor:pointer;"><i class="fas fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p>No administrator</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

