<!DOCTYPE html>
<html lang="en">

{% include "shared/_base_head.html.twig" %}

<body class="g-sidenav-show  bg-gray-100">

{% block body %}{% endblock %}

 <!--   Core JS Files   -->
{% include "shared/_base_script.html.twig" %}

</body>

</html>