<div class="row">
    <div class="col-12 col-md-6 col-lg-5">
        <div class="card  mb-4">
            <div class="card-header">
                Evolution Capital
            </div>
            <div class="card-body">
                {{ render_chart(chartLineEvolutionCapital) }}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
        <div class="card  mb-4">
            <div class="card-header">
                Evolution Rate Interest
            </div>
            <div class="card-body">
                {{ render_chart(chartLineEvolutionRateInterest) }}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
        <div class="card  mb-4">
            <div class="card-header">
                Evolution Earning
            </div>
            <div class="card-body">
                {{ render_chart(chartLineEvolutionEarningInterest) }}
            </div>
        </div>
    </div>
</div>