<h2 class="mt-5">Info marché</h2>
<div class="row">
    <div class="col-xl-7">
        <div class="card">
            <div class="card-header d-flex pb-0 p-3">
                Graphique
            </div>
            <div class="card-body  p-3 mt-2">
                <div class="tab-content" id="v-pills-tabContent">
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container ">
                        <div id="tradingview_cecab" ></div>
                        {# <div class="tradingview-widget-copyright"><a href="https://fr.tradingview.com/symbols/BTCUSD/?exchange=BITSTAMP" rel="noopener" target="_blank"><span class="blue-text">BTCUSD graphique</span></a> par TradingView</div> #}
                        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                        <script type="text/javascript">

                            new TradingView.widget(
                                {
                                    "autosize": true,
                                    "symbol": "BITSTAMP:BTCUSD",
                                    "interval": "1",
                                    "timezone": "Etc/UTC",
                                    "theme": "light",
                                    "style": "1",
                                    "locale": "fr",
                                    "toolbar_bg": "#f1f3f6",
                                    "enable_publishing": false,
                                    "allow_symbol_change": true,
                                    "container_id": "tradingview_cecab"
                                }
                            );
                        </script>
                    </div>
                    <!-- TradingView Widget END -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-5 ms-auto mt-xl-0 mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card bg-gradient-info">
                    <div class="card-body p-3">
                        <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container">
                            <div class="tradingview-widget-container__widget"></div>
                            {# <div class="tradingview-widget-copyright"><a href="https://fr.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Ticker Tape</span></a> par TradingView</div> #}
                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                                {
                                    "symbols": [
                                    {
                                        "proName": "FOREXCOM:SPXUSD",
                                        "title": "S&P 500"
                                    },
                                    {
                                        "proName": "FOREXCOM:NSXUSD",
                                        "title": "US 100"
                                    },
                                    {
                                        "proName": "FX_IDC:EURUSD",
                                        "title": "EUR/USD"
                                    },
                                    {
                                        "proName": "BITSTAMP:BTCUSD",
                                        "title": "Bitcoin"
                                    },
                                    {
                                        "proName": "BITSTAMP:ETHUSD",
                                        "title": "Ethereum"
                                    }
                                ],
                                    "showSymbolLogo": true,
                                    "colorTheme": "light",
                                    "isTransparent": false,
                                    "displayMode": "adaptive",
                                    "locale": "fr"
                                }
                            </script>
                        </div>
                        <!-- TradingView Widget END -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">

                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container-2">
                        <div class="tradingview-widget-container__widget"></div>
                        {# <div class="tradingview-widget-copyright"><a href="https://fr.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">Marchés financiers</span></a> par TradingView</div> #}
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                            {
                                "width": "100%",
                                "height": "100%",
                                "symbolsGroups": [
                                    {
                                        "name": "Indices",
                                        "originalName": "Indices",
                                        "symbols": [
                                            {
                                                "name": "FOREXCOM:SPXUSD",
                                                "displayName": "S&P 500"
                                            },
                                            {
                                                "name": "FOREXCOM:NSXUSD",
                                                "displayName": "US 100"
                                            },
                                            {
                                                "name": "FOREXCOM:DJI",
                                                "displayName": "Dow 30"
                                            },
                                            {
                                                "name": "INDEX:NKY",
                                                "displayName": "Nikkei 225"
                                            },
                                            {
                                                "name": "INDEX:DEU40",
                                                "displayName": "DAX Index"
                                            },
                                            {
                                                "name": "FOREXCOM:UKXGBP",
                                                "displayName": "UK 100"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Contrats à terme",
                                        "originalName": "Futures",
                                        "symbols": [
                                            {
                                                "name": "CME_MINI:ES1!",
                                                "displayName": "S&P 500"
                                            },
                                            {
                                                "name": "CME:6E1!",
                                                "displayName": "Euro"
                                            },
                                            {
                                                "name": "COMEX:GC1!",
                                                "displayName": "Gold"
                                            },
                                            {
                                                "name": "NYMEX:CL1!",
                                                "displayName": "Crude Oil"
                                            },
                                            {
                                                "name": "NYMEX:NG1!",
                                                "displayName": "Natural Gas"
                                            },
                                            {
                                                "name": "CBOT:ZC1!",
                                                "displayName": "Corn"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Obligations",
                                        "originalName": "Bonds",
                                        "symbols": [
                                            {
                                                "name": "CME:GE1!",
                                                "displayName": "Eurodollar"
                                            },
                                            {
                                                "name": "CBOT:ZB1!",
                                                "displayName": "T-Bond"
                                            },
                                            {
                                                "name": "CBOT:UB1!",
                                                "displayName": "Ultra T-Bond"
                                            },
                                            {
                                                "name": "EUREX:FGBL1!",
                                                "displayName": "Euro Bund"
                                            },
                                            {
                                                "name": "EUREX:FBTP1!",
                                                "displayName": "Euro BTP"
                                            },
                                            {
                                                "name": "EUREX:FGBM1!",
                                                "displayName": "Euro BOBL"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Forex",
                                        "originalName": "Forex",
                                        "symbols": [
                                            {
                                                "name": "FX:EURUSD"
                                            },
                                            {
                                                "name": "FX:GBPUSD"
                                            },
                                            {
                                                "name": "FX:USDJPY"
                                            },
                                            {
                                                "name": "FX:USDCHF"
                                            },
                                            {
                                                "name": "FX:AUDUSD"
                                            },
                                            {
                                                "name": "FX:USDCAD"
                                            }
                                        ]
                                    }
                                ],
                                "showSymbolLogo": true,
                                "colorTheme": "light",
                                "isTransparent": false,
                                "locale": "fr"
                            }
                        </script>
                    </div>
                    <!-- TradingView Widget END -->

                </div>
            </div>

        </div>
    </div>
</div>