
{% extends "dashboard/investor/base_investor.html.twig" %}

{% block body %}

    <!-- End Navbar -->
    <div class="container-fluid py-4">
        {% include "dashboard/investor/home/_stats_general.html.twig" %}



        <div class="row">
            <div class="col-12">
                <div id="globe" class="position-absolute end-0 top-10 mt-sm-3 mt-7 me-lg-7">
                    <canvas width="700" height="600" class="w-lg-100 h-lg-100 w-75 h-75 me-lg-0 me-n10 mt-lg-5"></canvas>
                </div>
            </div>
        </div>

        <div class="row mt-4" style="display: none;">
            <div class="col-lg-5 mb-lg-0 mb-4">
                <div class="card z-index-2">
                    <div class="card-body p-3">
                        <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                            <div class="chart" style="display: none;">
                                <canvas id="chart-bars" class="chart-canvas" height="170" style="display: none;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7" style="display: none;">
                <div class="card z-index-2">
                    <div class="card-body p-3">
                        <div class="chart" style="display: none;">
                            <canvas id="chart-line" class="chart-canvas" height="300" style="display: none;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="horizontal dark my-7">

        {% include "dashboard/investor/home/_chart.html.twig" %}

        <hr class="horizontal dark my-5">

        {% include "dashboard/investor/home/_reporting.html.twig" %}

        {% include "shared/_footer_dash.html.twig" %}

    </div>

    <script>
        {% if ancre is same as 'reportingSmooth' %}

        document.addEventListener("DOMContentLoaded", () => {

            let elementToSearch = document.getElementById("reportingScroll");

            console.log(elementToSearch);

            let offset = elementToSearch.offsetTop;

            window.scrollTo({
                top: offset,
                behavior: 'smooth',
            });
        });
        {% endif %}
    </script>


{% endblock %}