{% extends "admin/base_admin.html.twig" %}

{% block body %}

    <div class="container-fluid py-4">
        <div class="row">
            {% include "shared/_messages_flash.html.twig" %}
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5>Positions</h5>
                        <a class="btn btn-dark" href="{{ path('position_new') }}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    <div class="card-body">
                        {% include "admin/position/_table.html.twig" %}
                    </div>
                </div>
            </div>
            {% include "admin/position/_informations_position_pips.html.twig" %}
        </div>
    </div>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" />

    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js">
    </script>



    <script>
        $(document).ready( function () {
            $('#datatableCustom').DataTable({
                order: [
                    [0, 'desc'],
                ],
            });
        } );
    </script>

{% endblock %}
