<!-- ---- START FOOTER 2 dark w/ bg image 5 cols & subscribe area & social---- -->
<footer class="footer py-7 position-relative bg-gradient-dark overflow-hidden">
  <div class="position-absolute w-100 z-inde-1 top-0 mt-n3">
    <svg width="100%" viewBox="0 -2 1920 157" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>wave-down</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g fill="#FFFFFF" fill-rule="nonzero">
                <g id="wave-down">
                    <path d="M0,60.8320331 C299.333333,115.127115 618.333333,111.165365 959,47.8320321 C1299.66667,-15.5013009 1620.66667,-15.2062179 1920,47.8320331 L1920,156.389409 L0,156.389409 L0,60.8320331 Z" id="Path-Copy-2" transform="translate(960.000000, 78.416017) rotate(180.000000) translate(-960.000000, -78.416017) "></path>
                </g>
            </g>
        </g>
    </svg>
  </div>
  <div class="container position-relative mt-8">
    <div class="row ">
      <div class="col-lg-2 col-md-2 col-4">
        <a href="#">
          <h6 class="text-white text-sm">Cleo Capital Holding</h6>
        </a>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                Contact
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                CGU
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                CGV
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                Mentions légales
              </a>
            </li>
          </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-4">
        <a href="#">
          <h6 class="text-white text-sm">Cleo Patrimoine</h6>
        </a>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                Contact
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                CGU
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                CGV
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                Mentions légales
              </a>
            </li>
          </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-4">
        <a href="#">
          <h6 class="text-white text-sm">Cleo Development</h6>
        </a>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                Contact
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                CGU
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                CGV
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                Mentions légales
              </a>
            </li>
          </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-4">
        <a href="{{path('home')}}">
          <h6 class="text-white text-sm">Capital Investment</h6>
        </a>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                Contact
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                CGU
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                CGV
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="#" target="_blank">
                Mentions légales
              </a>
            </li>
          </ul>
      </div>
      
      <div class="col-lg-3 col-md-4 col-sm-6 col-8 ms-md-auto">
        <h6 class="text-white text-md-end text-sm mb-0">Language</h6>
        <ul class="nav flex-column">
          <li class="nav-item mt-3">
          
            <select class="form-control" name="language-button" id="language-button" placeholder="Language">
              <option value="Choice 1" selected> English</option>
              <option value="Choice 3">  French</option>             
            </select>

          </li>
          
        </ul>
      </div>
    </div>
    <hr class="horizontal light mb-4 mt-lg-4">
    <div class="row">
      <div class="col-lg-6 text-start">
        <h6 class="text-white">Souscrire à nos newsletters</h6>
        <p class="text-white opacity-8 mb-lg-0 mb-3">Nos dernières actualités et nos conseils en matière de gestion de patrimoine.</p>
      </div>
      <div class="col-lg-4 ms-auto text-end my-auto">
        <div class="row">
          <div class="col-md-8 col-7">
            <div class="form-group mb-0">
              <div class="input-group input-group-alternative">
                <input class="form-control" placeholder="E-mail" type="email">
              </div>
            </div>
          </div>
          <div class="col-md-4 col-5 text-start ps-0">
            <button type="button" class="btn bg-gradient-info mb-0 h-100">Souscrire</button>
          </div>
        </div>
      </div>
    </div>
    <hr class="horizontal light my-4">
      <div class="row">
        <div class="col-lg-6 col-md-6 my-auto">
          <p class="text-white mb-0 opacity-8">
            Copyright © <script>document.write(new Date().getFullYear())</script> jvj-developpement 
          </p>
        </div>
        <div class="col-lg-4 col-md-6  ms-auto text-end">
          <button type="button" class="btn btn-icon-only btn-link text-white mb-0 opacity-6">
            <i class="fab fa-facebook text-lg"></i>
          </button>
          <button type="button" class="btn btn-icon-only btn-link text-white mb-0 opacity-6">
            <i class="fab fa-twitter text-lg"></i>
          </button>
          <button type="button" class="btn btn-icon-only btn-link text-white mb-0 opacity-6">
            <i class="fab fa-dribbble text-lg"></i>
          </button>
          <button type="button" class="btn btn-icon-only btn-link text-white mb-0 opacity-6">
            <i class="fab fa-github text-lg"></i>
          </button>
        </div>
      </div>
  </div>
</footer>
<!-- ---- END FOOTER 2 dark w/ bg image 5 cols & subscribe area & social---- -->