{% for rubrique,messages in app.flashes %}
        {% for message in messages %}
            <div class="col-12">
                <div class="alert alert-{{ rubrique }} text-white" role="alert">
                     {{ message }}
                </div>
            </div>
        {% endfor %}
{% endfor %}