
{% extends "dashboard/investor/base_investor.html.twig" %}

{% block body %}

    <!-- End Navbar -->
    <div class="container-fluid py-4">

        {% include "dashboard/investor/home/_info_marche.html.twig" %}



    </div>




{% endblock %}