<div class="modal fade" id="modal-form-currency" tabindex="-1" role="dialog" aria-labelledby="modal-form-earning" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-info text-gradient"></h3>
                        <p class="mb-0">Currency</p>
                    </div>
                    <div class="card-body">
                        {{ form_start(formCurrency) }}

                        {{ form_widget(formCurrency) }}
                        <button type="submit" class="btn btn-info">Edit</button>
                        {{ form_end(formCurrency) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>