{% extends 'base_vitrine.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            {% include "shared/_messages_flash.html.twig" %}
            <div class="col-12">
                <!-- Navbar -->

                <!-- End Navbar -->
            </div>
        </div>
    </div>
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                            <div class="card card-plain">
                                <div class="card-header pb-0 text-start">
                                    <h4 class="font-weight-bolder">Erreur 403</h4>

                                </div>
                                <div class="card-body">

                                    <p>Accès interdit</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                            <div class="position-relative bg-gradient-light h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
                                <img src="../../theme/assets/img/shapes/pattern-lines.svg" alt="pattern-lines" class="position-absolute opacity-4 start-0">
                                <div class="position-relative">
                                    <img class="max-width-500 w-100 position-relative z-index-2" src="{{ asset('theme/assets/mes_images/CAPITAL_INVESTMENT_HIGH.png') }}" alt="chat-img">
                                </div>
                                <h4 class="mt-5 text-white font-weight-bolder">On ne vous vend pas du rêve, mais on vous évite les cauchemars.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
