<div class="col-12 ">
    <div class="card h-100">
        <div class="card-header pb-0">
            <h6 class="mb-0">Initialize the wallet</h6>
        </div>
        <div class="card-body p-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-info" id="buttonValid">Save</button>
            <button class="btn btn-info" type="button" disabled style="display: none;color: white;" id="buttonSpinner">
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="color: white;"></span>
                Loading...
            </button>
            {{ form_end(form) }}
        </div>
    </div>
</div>