{% extends "admin/base_admin.html.twig" %}

{% block body %}

{% include "admin/shared/_header_investor_profile.html.twig" %}

  <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card card-frame">
                    <div class="card-header">
                        <h3><i class="fas fa-plus-circle"></i> Edit a reporting Line</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}

                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-info">Save</button>

                        
                        {{ form_end(form) }}
                        {% include "admin/investor_profile/reporting_details/_delete_form.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

   
{% endblock %}

